<a href="https://colab.research.google.com/github/ManasaTirumala/hello-world/blob/master/Feature_Engineering_Nominal_Encodingtechniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
df= pd.read_csv('BenzData.csv', usecols=['X1','X2','X3','X4','X5','X6','X8'])
df.head(100)

    X1  X2 X3 X4 X5 X6 X8
0    v   n  f  d  t  a  w
1    b  ai  a  d  b  g  y
2    v  as  f  d  a  j  j
3    l   n  f  d  z  l  n
4    s  as  c  d  y  i  m
..  ..  .. .. .. .. .. ..
95   b   m  c  d  j  j  n
96   b   m  c  d  j  j  n
97  aa  as  c  d  j  g  n
98   s   m  c  d  j  i  v
99   s   m  c  d  j  i  b

[100 rows x 7 columns]

In [6]:
for cat in df.columns:
   print(cat, '::', len(df[cat].unique()),"labels")
pd.get_dummies(df,drop_first=True).shape

X1 :: 27 labels
X2 :: 41 labels
X3 :: 7 labels
X4 :: 4 labels
X5 :: 25 labels
X6 :: 12 labels
X8 :: 25 labels

(2763, 134)

In [8]:
 freq=df.X1.value_counts().sort_values(ascending=False)
 freq 

 top_10=[x for x in freq.head(10).index] 
 top_10

['aa', 'b', 'l', 's', 'v', 'r', 'i', 'a', 'c', 'o']

In [ ]:
for label in top_10:
  print(df[label])